@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;600;800&display=swap');

html {
    background-color: rgb(214,239,250);
    font-family: 'Assistant';
    padding: 30px 100px;
    font-size: 24px; 
    
}

h1{
    font-weight: 100;
    line-height: 1.5em; 
}

